* {
    margin: 0px;
    padding: 0px;
}

/* exo1 */
/* .haut{
    background-color: red;
    width: 500px;
    height: 50px;
}

.container{
    display: flex;
    flex-direction: row;
}

#gauche{
    background-color: blue;
    width: 100px;
    height: 200px;
}

#milieu{
    background-color: rgb(5, 156, 38);
    width: 400px;
    height: 200px; 
} */

/*Exo1-2*/
/* .haut{
    background-color: red;
    width: 500px;
    height: 50px;
}

.container{
    display: flex;
    flex-direction: row;
}

#gauche{
    background-color: blue;
    width: 100px;
    height: 200px;
}

#milieu{
    background-color: rgb(5, 156, 38);
    width: 300px;
    height: 200px; 
}
#droite{
    background-color: brown;
    width: 100px;
    height: 200px; 
} */

/*Exo1-3*/
/* .container{
    display: flex;
    flex-direction: row;
}

#gauche{
    background-color: rgb(16, 192, 192);
    width: 150px;
    height: 200px;
}

#droite{
    background-color: violet;
    width: 150px;
    height: 200px;
}

#bas{
    width: 300px;
    height: 50px;
    background-color: yellow;
} */

/*Exo1-4*/
/* .container{
    width: 800px;
    height: 560px;
    border: 2px solid black;
margin: 0px auto;
}
header{
    width: 100%;
    height: 75px;
    background-color: aquamarine;
}

nav{
    width: 100%;
    height: 50px;
    background-color: violet;
}

main{
    width: 95%;
    height: 60%;
    background-color: yellow;
    margin: 20px auto;
}

footer{
    width: 100%;
    height: 60px;
    background-color: aquamarine;
} */

/*Exo1-5*/
 /* body {
    background-color: rgb(241, 154, 154);
}

header{
    width: 100%;
    height: 75px;
    background-color: rgb(82, 5, 82);
    color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

nav{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;
    width: 100%;
    height: 50px;
    background-color: blue;
}

.grid{
    display: grid;
    grid-template-columns: 50% 50%;

    margin: 10px;
}

.container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-auto-rows: 50%;
    border: 2px solid white;
    justify-content: center;
    text-align: center;
    align-items: center;
}

#PZ {
    background-color: rgb(240, 4, 4);
    border: 2px solid white;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: white;
}

#PZ2 {
    background-color: yellow;
    border: 2px solid white;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: white;
}

#PZ3 {
    background-color: green;
    border: 2px solid white;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: white;
}

#PZ4 {
    background-color: brown;
    border: 2px solid white;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: white;
}

footer{
    width: 100%;
    height: 75px;
    background-color: rgb(75, 74, 74);
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
} */

/*EXO1-6*/
/* body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    text-align: center;
    color: white;
}

header {
    width: 100%;
    height: 15vh;
    background-color: rgb(252, 79, 108);
    color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.milieu {
    display: grid;
    flex-direction: column;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
    text-align: center;
    color: white;
    height: 60%;
    column-gap: 5px;
    width: 60%;
    padding: 0;
}

#droite,
#gauche {
    background-color: blue;
    height: 70%;
    width: 20%;
    display: grid;
    padding: 20px;
}

#Z1,
#Z2,
#Z3,
#Z4,
#Z5 {
    background-color: rgb(119, 240, 119);
    height: 50vh;

    margin: 5px;
}

#bas {
    background-color: yellow;
    grid-column: 1/6;
    height: 14vh;
}

.container {
    display: flex;
    flex: 1;
    width: 100%;
    height: 100%;
} */

/*Exo2-1 PAS FINI*/
/* body{
    height: 100%;
    width: 100%;
}

#main{
    border: 2px solid violet;
    margin: 20px auto;
    width: 80%;
    height: 500px;
    color: violet;
    display: flex;
    justify-content: center;
    padding: 0px;
}

.container{
    border: 2px solid red;
    margin: 30px auto;
    width: 80%;
    height: 90%;
    color: red;
}

#kaique {
    display: flex;
}

#header{
    border: 2px solid yellow;
    margin: 10px auto;
    width: 80%;
    height: 100px;
    color: yellow;
}

#content{
    border: 2px solid green;
    margin: 10px auto;
    width: 30%;
    height: 40vh;
    color: green;
}

#news{
    border: 2px solid blue;
    margin: 10px auto;
    width: 90%;
    height: 80%;
    color: blue;
}

#sidebar{
    border: 2px solid orange;
    margin: 10px auto;
    width: 30%;
    height: 90%;
    color: orange;
}

#subscribe, #popular, #contributors{
    border: 2px solid violet;
    margin: 10px auto;
    width: 90%;
    height: 90%;
    color: violet;
}

#footer{
    font-size: 20px;
    border: 2px solid aquamarine;
    margin: 10px auto;
    width: 80%;
    height: 90%;
    color: aquamarine;
    background-color: grey;
}

#footer>.container {
    border-color: green;
    color: green;
} */

/* Exo2-2 */

/* body{
    width: 100vh;
    height: 100%;
}

header{
    background-color: blue;
    color: white;
    width: 80%;
    height: 60px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    text-align: center;
}

nav{
    background-color: red;
    width: 70%;
    margin: 10px auto;
}

ul, li{
    list-style: none;
    display: flex;
    justify-content: space-around;
    color: white;
}

#section1{
    background-color: green;
    text-align: center;
    width: 100%;
}

.groupe{
    display: flex;
    justify-content: space-around;

}

#aside, #article{
    width: 50%;
    height: 200px;
    background-color: gray;
    margin: 20px 5px 30px 5px;
}

p{
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    
}

#section2{
    background-color: yellow;
    margin-top: 10px ;
    text-align: center;
    width: 100%;
    height: 100%; 
}

#article1{
    width: 20%;
    height: 340px;
    background-color: gray;
    margin: 50px 10px;
    float: left;
}

#aside1{
    display: flex;
    justify-content: center;
    width: 70%;
    height: 150px;
    background-color: blue;
    margin: 30px 20px;
  
}

#aside2{
    display: flex;
    justify-content: center;
    width: 60%;
    height: 160px;
    background-color: blue;
  
}

.container{
    display: grid;
    grid-template-columns: 60% 40%;
    width: 70%;
}

#article3{
    background-color: gray;
    width: 100%;
    height: 70px;
}

footer{
    display: flex;
    height: 70px;
    background-color: red;
    width: 100%;
} */

/* Exo2-3 */           /*  A FINIR!!!! */
#block{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 1fr);
    width: 650px;
    height: 650px;
    border: 2px solid black;
}

#S1{
    border: 1px solid black;
    grid-row: 1;
    grid-column: 1;
}

#S2{
    border: 1px solid black;
    grid-row: 1;
    grid-column: 2;
}

#S3{
    border: 1px solid black;
    grid-row: 1;
    grid-column: 3;
}

#S4{
    border: 1px solid black;
    grid-row: 1;
    grid-column: 4;
}

#S5{
    border: 1px solid black;
    grid-row: 1;
    grid-column: 5;
}

#S6{
    border: 1px solid black;
    grid-row: 1;
    grid-column: 6;
}

#S7{
    border: 1px solid black;
    grid-row: 2;
    grid-column: 1;
}

#S8{
    border: 1px solid black;
    grid-row: 3;
    grid-column: 1;
}

#S9{
    border: 1px solid black;
    grid-row: 4;
    grid-column: 1;
}

#S10{
    border: 1px solid black;
    grid-row: 5;
    grid-column: 1;
}

#S11{
    border: 1px solid black;
    grid-row: 2/6;
    grid-column: 2;
}

#S12{
    border: 1px solid black;
    grid-row: 2/4;
    grid-column: 3/5;
}

#S13{
    border: 1px solid black;
    grid-row: 2/4;
    grid-column: 5;
}

#S14{
    border: 1px solid black;
    grid-row: 2/5;
    grid-column: 6;
}

#S15{
    border: 1px solid black;
    grid-row: 4;
    grid-column:3/6;
}

#S16{
    border: 1px solid black;
    grid-row: 5;
    grid-column:3/7;
}

/*FORMULAIRE*/
/* .container{
    display: flex;
    justify-content: center;
    text-align: left;
    border: 1px solid black;
    margin: 50px auto;
    width: 60%;
}

h1{
    display: flex;
    justify-content: center;
    text-align: center;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    color: blueviolet;
    margin: 20px auto;
    width: 70%;
}

li{
    margin: 20px;
}

.container1{
    margin: 20px;
} */